<aside class="left-sidebar" data-sidebarbg="skin6">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-item pt-2">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==1?'active':''%>" href="/" aria-expanded="false">
            <i class="far fa-clock" aria-hidden="true"></i>
            <span class="hide-menu">Điểm danh</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==2?'active':''%>" href="/annual" aria-expanded="false">
            <i class="fas fa-stop-circle" aria-hidden="true"></i>
            <span class="hide-menu">Đăng ký nghỉ</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==3?'active':''%>" href="/info" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="hide-menu">Thông tin cá nhân</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==4?'active':''%>" href="/lookup" aria-expanded="false">
            <i class="fas fa-search" aria-hidden="true"></i>
            <span class="hide-menu">Tra cứu thông tin</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==4?'active':''%>" href="/covid" aria-expanded="false">
            <i class="fas fa-syringe" aria-hidden="true"></i>
            <span class="hide-menu">Thông tin Covid</span>
          </a>
        </li>
        <%if(isAdmin===true){%>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%=numActive==5?'active':''%>" href="/confirm" aria-expanded="false">
            <i class="fas fa-diagnoses" aria-hidden="true"></i>
            <span class="hide-menu">Xác nhận giờ làm</span>
          </a>
        </li>
        <%}%>
      </ul>
    </nav>
  </div>
</aside>