<%-include('../include/head.ejs')%> <%-include('../include/header.ejs')%> <%-include('../include/sidebar.ejs')%>
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper" style="min-height: 250px">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row">
            <div class="col-12 text-center p-2">
                <h4 class="page-title text-success"><i class="fas fa-calendar-alt"></i><span> <%=moment().format('DD/MM/YYYY')%></span></h4>
            </div>
            <hr />
        </div>
        <!-------------------- Message Acction ------------------------>
        <div class="row">
            <div class="col-12">
                <%if(flashMes && flashMes ==='Covidadded'){%>
                <h4 class="page-title text-info"><i class="far fas fa-child"></i><span> Thêm thông tin thân nhiệt thành công!</span></h4>
                <%}%> <%if(flashMes && flashMes ==='Covidedited'){%>
                <h4 class="page-title text-info"><i class="far fas fa-child"></i><span> Thay đổi thông tin thân nhiệt thành công!</span></h4>
                <%}%> <%if(flashMes && flashMes ==='Coviddeleted'){%>
                <h4 class="page-title text-info"><i class="far fas fa-child"></i><span> Xóa thông tin thân nhiệt thành công!</span></h4>
                <%}%>
            </div>
        </div>

        <!-------------------- End Message Action ------------------------>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <!-- -------------Tab Nav------------------ -->

                    <div class="card p-3">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin thân nhiệt</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Thông tin Vaccine</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Thông tin nhiễm Covid</button>
                            </div>
                        </nav>
                        <!-- Content Tab -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- --------------------------- Hypothermia----------------------->
                            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row pb-3">
                                    <div class="col-12 text-end">
                                        <button type="button" id="btn_addHypothermia" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_Hypothermia">Thêm thông tin</button>
                                    </div>
                                </div>
                                <!-- ==========Table Hypothermia=========== -->
                                <div class="row">
                                    <%if(data.hypothermia.length>0){%>
                                    <div class="table-responsive">
                                        <table class="table text-nowrap tbl_Hypothermia">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0">#</th>
                                                    <th class="border-top-0">Nhiệt độ</th>
                                                    <th class="border-top-0">Thời gian</th>
                                                    <th class="border-top-0">Tình trạng</th>
                                                    <th class="border-top-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%let hypoCount=0%> <%data.hypothermia.forEach((item,index)=>{%> <%hypoCount++%>
                                                <tr>
                                                    <td id="<%=data._id%>"><%=index+1%></td>
                                                    <td id="<%=item.timeHypothermia%>"><%=item.temperature%></td>
                                                    <td id="<%=moment(item.dateHypothermia).format('YYYY-MM-DD')%>"><%=`${item.timeHypothermia} - ${moment(item.dateHypothermia).format('DD/MM/YYYY')}`%></td>
                                                    <td><%=item.affection%></td>
                                                    <td id="<%=item._id%>">
                                                        <div>
                                                            <button id="<%=index%>" class="btn btn-info btn_edit_Hypothermia">Sửa</button>
                                                            <button id="<%=index%>" class="btn btn-danger btn_remove_Hypothermia">Xóa</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <%}else{%>
                                    <h3 class="page-title">Bạn chưa đăng ký thông tin thân nhiệt nào!</h3>
                                    <%}%>
                                </div>
                                <!-- ========End able Hypothermia========== -->
                            </div>
                            <!-- --------------------------- End Hypothermia------------------->

                            <!-- --------------------------- Vaccine--------------------------->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row pb-3">
                                    <div class="col-12 text-end">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_Vaccine">Thêm thông tin</button>
                                    </div>
                                </div>
                                <p>
                                    <strong>This is some placeholder content the Profile tab's associated content.</strong>
                                    Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.
                                </p>
                            </div>
                            <!-- --------------------------- End Vaccine----------------------->

                            <!-- -------------------------- Is Covid--------------------------->
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row pb-3">
                                    <div class="col-12 text-end">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_Covid">Thêm thông tin</button>
                                    </div>
                                </div>
                                <p>
                                    <strong>This is some placeholder content the Contact tab's associated content.</strong>
                                    Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.
                                </p>
                            </div>
                            <!-- -------------------------- End Is Covid----------------------->
                        </div>
                    </div>
                    <!-- --------------------- Modal Hypothermia--------------- -->
                    <div class="modal fade" id="exampleModal_Hypothermia" tabindex="-1" aria-labelledby="exampleModal_Hypothermia" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin thân nhiệt</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row g-3 frm-register-Hypothermia" action="/hypothermia" method="POST">
                                        <div class="col-md-6">
                                            <label for="timeHypothermia" class="form-label">Thời gian</label>
                                            <input type="time" class="form-control" value="" id="timeHypothermia" name="timeHypothermia" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="dateHypothermia" class="form-label">Ngày</label>
                                            <input type="date" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>" id="dateHypothermia" name="dateHypothermia" />
                                        </div>
                                        <span class="text-danger err-date-Hypothermia" hidden>Thời gian không hợp lệ</span>
                                        <div class="col-12">
                                            <label for="temperatureHypothermia" class="form-label">Nhiệt độ</label>
                                            <input type="number" step="0.1" class="form-control" value="" id="temperatureHypothermia" name="temperatureHypothermia" />
                                        </div>
                                        <span class="text-danger err-temperatureHypothermia" hidden>Nhiệt độ không hợp lệ</span>
                                        <div class="col-12">
                                            <label class="form-label" for="affection">Tình trạng sức khỏe</label>
                                            <textarea class="form-control" id="affection" name="affection" rows="4"></textarea>
                                            <span hidden class="text-danger err-affection">Tình trạng sức khỏe phải nhiều hơn 3 ký tự</span>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="covid_id" value="" name="covid_id" />
                                            <input type="hidden" id="hypothermia_id" value="" name="hypothermia_id" />
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------- End Modal Hypothermia----------- -->

                    <!-- --------------------- Modal Vaccine------------------- -->
                    <div class="modal fade" id="exampleModal_Vaccine" tabindex="-1" aria-labelledby="exampleModal_Vaccine" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin tiêm Vaccine</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row g-3 frm-register" action="/reg-Annual" method="POST">
                                        <!-- End Nghi theo gio -->
                                        <div class="col-md-6">
                                            <label for="fromDate" class="form-label">Mũi thứ</label>
                                            <input type="number" step="1" class="form-control" value="" id="fromDate" name="fromDate" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="toDate" class="form-label">Ngày</label>
                                            <input type="date" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>" id="toDate" name="toDate" />
                                        </div>
                                        <div class="col-12">
                                            <label for="toDate" class="form-label">Loại Vaccine</label>
                                            <input type="text" class="form-control" value="" id="toDate" name="toDate" />
                                        </div>
                                        <span class="text-danger err-date" hidden>Tình trạng sức khỏe</span>
                                        <div class="modal-footer">
                                            <!-- <input type="hidden" id="annual_id" value="" name="annual_id"> -->
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------- End Modal Vaccine--------------- -->

                    <!-- --------------------- Modal Covid--------------------- -->
                    <div class="modal fade" id="exampleModal_Covid" tabindex="-1" aria-labelledby="exampleModal_Covid" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin nhiễm Covid</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row g-3 frm-register" action="/reg-Annual" method="POST">
                                        <!-- End Nghi theo gio -->

                                        <div class="col-12">
                                            <div class="form-check d-flex justify-content-end">
                                                <input class="form-check-input" type="checkbox" name="isHour" id="gridCheck_isHour" />
                                                <label class="form-check-label" for="gridCheck_isHour" name="isHour"> &nbsp;Đang nhiễm? </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fromDate" class="form-label">Lần nhiễm</label>
                                            <input type="number" class="form-control" step="1" value="" id="fromDate" name="fromDate" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="toDate" class="form-label">Ngày</label>
                                            <input type="date" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>" id="toDate" name="toDate" />
                                        </div>

                                        <span class="text-danger err-date" hidden>Tình trạng sức khỏe</span>
                                        <div class="col-12">
                                            <label class="form-label" for="cause">Triệu chứng</label>
                                            <textarea class="form-control" id="cause" name="cause" rows="4"></textarea>
                                            <span hidden class="text-danger err-cause">Lý do nghỉ phải nhiều hơn 3 ký tự</span>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <input type="hidden" id="annual_id" value="" name="annual_id"> -->
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------- End Modal Covid-------------------->

                    <!-- ------------------Confirm Remove Hypothermia-------------- -->
                    <div class="modal fade" id="exampleModal_confirm_hypothermia" tabindex="-1" aria-labelledby="exampleModal_confirm_hypothermia" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Xác nhận</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="modal-title fs-5">Bạn có muốn xóa thông tin thân nhiệt?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <form action="/remove-hypothermia" method="POST">
                                        <input type="hidden" id="id_removeHypothermia" value="" name="id_removeHypothermia" />
                                        <input type="hidden" id="_removecovid_id" value="" name="removecovid_id" />
                                        <button type="submit" class="btn btn-primary btn-remove">Xóa</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------End Confirm Remove Hypothermia--------- -->

                    <!-- -------------End Tab Nav-------------- -->
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <%-include('../include/footer.ejs')%> <%-include('../include/end.ejs')%>
</div>
